@import "../scss/config";

.dropdown {
  @include white-container;
  margin-bottom: 20px;
  z-index: -1;
  padding: 20px 20px;
  @media screen and #{$tablet} {
    width: 200px;
    margin-right: 20px;
  }

  @media screen and #{$smallDesktop} {
    padding: 25px 25px;
  }
  @media screen and #{$desktop} {
    width: 330px;
  }

  &__header {
    @include flex-center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__title {
    @include title;
  }

  &__show {
    cursor: pointer;
    @include paragraph;
  }

  &__list {
    list-style: none;
  }

  &__item {
    margin-bottom: 10px;
    cursor: pointer;
  }

  &__subtitle {
    position: relative;
    @include subtitle;
    font-weight: 700;
    margin-bottom: 6px;
  }

  &__arrow {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: center center;

    transition: 0.3s;

    &--active {
      transform: rotate(90deg);
    }
  }

  &__sublist {
    height: 0;
    overflow: hidden;
    list-style-type: none;
    margin-left: 10px;
    transition: 0.3s;
  }

  &__subitem {
    font-size: 0;
    margin-bottom: 4px;
    @include paragraph;
  }
}
