* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  font-size: 12px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

:root::-webkit-scrollbar {
  display: none;
}
