@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

//mobile
@mixin mobile-logo {
  font-size: 2.4em;
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  letter-spacing: 3.6px;
}

@mixin mobile-title {
  font-size: 1.6em;
  font-weight: 700;
}

@mixin mobile-subtitle {
  font-size: 1.4em;
  font-weight: 400;
  color: black;
}

@mixin mobile-paragraph {
  font-size: 1.2em;
  font-weight: 300;
}

//desktop
@mixin desktop-logo {
  font-size: 34px;
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
}

@mixin desktop-title {
  font-size: 24px;
  font-weight: 700;
}

@mixin desktop-subtitle {
  font-size: 18px;
  font-weight: 400;
}

@mixin desktop-paragraph {
  font-size: 16px;
  font-weight: 300;
}
