//colors
$main-color: #5a4cbf;
$light-color: #e2e4f1;
$black: #2e2e2e;

//breakpoints
$tablet: "(min-width: 721px)";
$smallDesktop: "(min-width: 1001px)";
$desktop: "(min-width: 1401px)";

//mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin tile-height {
  margin: 10px auto;
  box-sizing: border-box;
  padding: 20px 20px;
  height: calc(100vh - 110px - 95px - 30px);
  width: 100%;

  @media screen and #{$tablet} {
    min-height: 400px;
    padding: 40px 20px;
  }
  @media screen and #{$smallDesktop} {
    min-height: 500px;
  }
  @media screen and #{$desktop} {
    max-width: 1300px;
  }
}

@mixin white-container {
  background-color: white;
  border-radius: 20px;
  padding: 20px 20px;

  @media screen and #{$smallDesktop} {
    padding: 40px 40px;
  }
}
