//colors
$main-color: #5a4cbf;
$light-color: #e2e4f1;
$black: #2e2e2e;

//breakpoints
$tablet: "(min-width: 721px)";
$smallDesktop: "(min-width: 1001px)";
$desktop: "(min-width: 1401px)";

//mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin tile-height {
  margin: 10px auto;
  box-sizing: border-box;
  padding: 20px 20px;
  height: calc(100vh - 110px - 95px - 30px);
  width: 100%;

  @media screen and #{$tablet} {
    min-height: 400px;
    padding: 40px 20px;
  }
  @media screen and #{$smallDesktop} {
    min-height: 500px;
  }
  @media screen and #{$desktop} {
    max-width: 1300px;
  }
}

@mixin white-container {
  background-color: white;
  border-radius: 20px;
  padding: 20px 20px;

  @media screen and #{$smallDesktop} {
    padding: 40px 40px;
  }
}

.add-basket {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  @include flex-center;
  background-color: $main-color;
  cursor: pointer;
  transition: 0.1s;

  &:hover {
    animation: bounce 0.3s ease both;
  }
  &:hover > img {
    animation: shake 0.3s ease;
    // transform: rotate(40deg);
  }

  &__icon {
    transition: 0.1s;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(12deg);
  }
  40% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes bounce {
  0% {
    transform: translate(50%, -50%) scale();
  }

  50% {
    transform: translate(50%, -50%) scale(1.05);
  }

  100% {
    transform: translate(50%, -50%) scale(1.1);
  }
}
