@import "config";

.app {
  background-color: $light-color;
  box-sizing: border-box;
  min-height: 100vh;
  height: auto;
  position: relative;
  font-family: "Lato", sans-serif;
  color: $black;
  padding: 120px 12px 95px 12px;

  @media screen and #{$tablet} {
    padding-top: 80px;
  }
}
