@import "../scss/config";

.basket {
  height: 70px;
  @include flex-center;
  justify-content: flex-end;
  grid-area: basket;
  margin-right: 15px;

  &__value {
    @include subtitle;
    margin-right: 10px;
  }

  &__control {
    background-color: white;
    width: 50px;
    height: 50px;
    @include flex-center;
    position: relative;
    border-radius: 25px;
  }

  &__total {
    width: 24px;
    height: 24px;
    background-color: $main-color;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    @include flex-center;
    position: absolute;
    top: -5px;
    right: -5px;
    line-height: 0;
  }
}
