@import "../scss/config";

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 95px;
  background-color: $black;
  color: white;

  @include flex-center;

  &__half {
    @include flex-center;
    flex-wrap: wrap;
    width: 50%;
    text-align: center;

    & > * {
      width: 100%;
      margin: 4px;
    }
  }
  &__subtitle {
    letter-spacing: 2px;
    @include mobile-subtitle;

    @media screen and #{$desktop} {
      @include desktop-subtitle;
    }
  }
  &__paragraph {
    display: block;
    letter-spacing: 1px;
    @include mobile-paragraph;

    @media screen and #{$desktop} {
      @include desktop-paragraph;
    }
  }

  &__icon {
    margin: 5px 12px 0 12px;
    width: 26px;
  }
}
